.wrapper {
  margin: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  overflow: hidden;
  height: max-content;
}

.bodyWrapper {
  padding: 20px;
}
